.langauge-selector {
  cursor: pointer;
  position: relative;
  color: var(--color-light-purple);
  
  
  &__button {
    margin: .95rem 0;
  }

  &__content {
    display: none;
    &:hover {
      display: block;
    }
  }
}

.langauge-selector:hover .langauge-selector__content {
  display: block;
}
