@use "../../../../globals.scss" as *;

.cake-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cake-div-upper-wrapper{
    display: flex;
    max-width: 928px;
    align-items: center;
}

.cake-div-text-wrapper{
    margin-right: 64px;
}

.cake-div-header {
    color: var(--color-dark-purple);
    font-size: 40px;
    margin-top: 0px;
}

.cake-big {
    color: var(--color-purple);
}

.cake-div-info {
    color: var(--color-light-purple);
}

.cake-div-graphic-wrapper {
    display: flex;
}


.cake-button-link-wrapper {
    display: flex;
}
