@use '../../../../../screens.scss' as *;
.cake-stats-div{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content:space-between ;
    @include sm {
        margin-left: -8px;
    }
}
