@use "../../../../../screens.scss" as *;

.syrup-pools-and-farms-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;

  .top-syrup-pools-and-farms {
    display: flex;
    margin-bottom: 24px;

    .top-syrup-pools-and-farms-h2 {
      font-size: 20px;
      font-weight: 600;
      line-height: 1.1;
      color: var(--color-dark-purple);

      .top-syrup-pools-and-farms-span {
        color: var(--color-purple);
      }
    }

    .top-syrup-pools-and-farms-btn {
      padding: 2px;
      width: 48px;
      position: relative;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border: 0px;
      border-radius: 16px;
      background-color: transparent;
      display: inline-flex;
      box-shadow: none;
      line-height: 1;
      margin-top: 5px;

      &:hover {
        .top-syrup-pools-and-farms-btn-icon {
          color: var(--color-syrup-farm-arrows-purple);
          transition: color 0.2s ease 0s, opacity 0.2s ease 0s;
        }
      }

      .top-syrup-pools-and-farms-btn-icon {
        fill: var(--color-light-purple);
        color: var(--color-light-purple);
        transition: color 0.2s ease 0s, opacity 0.2s ease 0s;
        flex-shrink: 0;
        align-self: center;
        width: 16px;
        height: 16px;
        stroke-width: 3px;
      }
    }
  }

  .bottom-syrup-and-farms-list {
    height: 240px;

    @include sm {
      height: 80px;
    }

    .syrup-farm-cards {
      display: grid;
      grid-template-columns: repeat(2, auto);

      @include md {
        gap: 32px;
      }

      @include sm {
        gap: 16px;
        grid-template-columns: repeat(5, auto);
      }

      &__container {
        position: relative;
      }

      &__cardOne {
        position: absolute;
        top: 0px;
        flex-direction: column;
        padding-right: 16px;
        transition: opacity 0s ease 0s, margin-top 0s ease 0s,
          all 0.4s ease-out 0s;
      }

      &__cardTwo {
        position: absolute;
        top: 0px;
        flex-direction: column;
        transition: opacity 0s ease 0s, margin-top 0s ease 0s,
          all 0.4s ease-out 0s;

        @include sm {
          height: 80px;
          top: 0px;
          padding-left: 16px;
          border-left: 1px var(--color-syrup-farm-border-left) solid;
        }
      }

      &__cardThree {
        position: absolute;
        top: 80px;
        flex-direction: column;
        transition: opacity 0s ease 0s, margin-top 0s ease 0s,
          all 0.4s ease-out 0s;

        @include sm {
          height: 80px;
          top: 0px;
          padding-left: 16px;
          border-left: 1px var(--color-syrup-farm-border-left) solid;
        }
      }

      &__cardFour {
        position: absolute;
        top: 160px;
        flex-direction: column;
        transition: opacity 0s ease 0s, margin-top 0s ease 0s,
          all 0.4s ease-out 0s;

        @include sm {
          height: 80px;
          top: 0px;
          padding-left: 16px;
          border-left: 1px var(--color-syrup-farm-border-left) solid;
        }
      }

      &__cardFive {
        position: absolute;
        top: 160px;
        flex-direction: column;
        transition: opacity 0s ease 0s, margin-top 0s ease 0s,
          all 0.4s ease-out 0s;

        @include sm {
          height: 80px;
          top: 0px;
          padding-left: 16px;
          border-left: 1px var(--color-syrup-farm-border-left) solid;
        }
      }

      &-topText {
        color: var(--color-purple);
        font-weight: 600;
        line-height: 1.5;
        margin-bottom: 8px;
        font-size: 12px;
      }

      &-middleText {
        gap: 4px;

        &__text {
          color: var(--color-dark-purple);
          font-weight: 600;
          line-height: 1.1;
          font-size: 16px;
        }
      }

      &-bottomText {
        color: var(--color-light-purple);
        font-weight: 400;
        line-height: 1.5;
        font-size: 16px;
      }
    }
  }
}

.syrup-farm-flex {
  display: flex;
}

.syrup-farm-slide-animation-active {
  opacity: 1;
  margin-top: 0px;
}
.syrup-farm-slide-animation-notActive {
  opacity: 0;
  margin-top: 50%;
}
