@use "../../../../../globals.scss" as *;
@use "../../../../../screens.scss" as *;

.stat-section-div {
  display: flex;
  flex-direction: column;
  padding: 0px 8px;
  border-left: 1px solid var(--color-home2-1);
  &:nth-child(1) {
    padding: 0px;
    border: none;
    grid-area: a / a / a / a;
  }
  &:nth-child(2) {
    padding: 0px;
    border: none;
    grid-area: b / b / b / b;
  }
  &:nth-child(3) {
    padding: 0px;
    border: none;
    grid-area: c / c / c / c;
  }
  &:nth-child(4) {
    grid-area: d / d / d / d;
  }
  &:nth-child(5) {
    grid-area: e / e / e / e;
  }
  &:nth-child(6) {
    grid-area: f / f / f / f;
  }

  @include md {
    &:nth-child(1) {
      border: none;
      grid-area: a / a / a / a;
    }
    &:nth-child(2) {
      padding: 0px 16px;
      border-left: 1px solid var(--color-home2-1);
      grid-area: b / b / b / b;
    }
    &:nth-child(3) {
      padding: 0px 16px;
      border-left: 1px solid var(--color-home2-1);
      grid-area: c / c / c / c;
    }
    &:nth-child(4) {
      padding: 0;
      border: none;
      grid-area: d / d / d / d;
    }
    &:nth-child(5) {
      padding: 0px 16px;
      grid-area: e / e / e / e;
    }
    &:nth-child(6) {
      padding: 0px 16px;
      grid-area: f / f / f / f;
    }
  }
}

.entry-div {
  color: var(--color-light-purple);
  line-height: 1.5;
}

.data-div {
  color: var(--color-dark-purple);
  font-weight: 600;
  line-height: 1.1;
  font-size: 24px;
}
