@use "../../../screens.scss" as *;
@use "../../../globals.scss" as *;
.home1-container {
  display: flex;
  position: relative;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  z-index: 1;
  padding: 48px 0px;
  padding-top: 16px;
  background: linear-gradient(
    139.73deg,
    var(--color-gradient-back1) 0%,
    var(--color-gradient-back2) 100%
  );

  @include md {
    padding-top: 48px;
  }

  .home1-inner {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
    min-height: auto;
    padding-top: 16px;
    padding-bottom: 16px;

    @include xs {
      padding-left: 24px;
      padding-right: 24px;
    }

    @include sm {
      padding-top: 32px;
      padding-bottom: 32px;
    }

    @include lg {
      padding-top: 48px;
      padding-bottom: 48px;
    }
  }
}
