@use "../../../../../../../../../screens.scss" as *;

.lottery-logo-container {
  position: absolute;
  top: 24px;
  right: 24px;

  @include md {
    transform: rotate(1.43deg);
  }

  .lottery-ticket {
    align-self: center;
    fill: white;
    color: white;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
  }
}
