@use "../../../../globals.scss" as *;
@use '../../../../screens.scss' as *;

.connect-wallet {
    background: linear-gradient(rgb(118, 69, 217) 0%, rgb(81, 33, 177) 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    // overflow: hidden;
}

.connect-div-text-wrapper {
    z-index: 1;
    padding: 64px 24px;
    @include sm {
        padding: 80px 24px;
    }
}

.connect-div-header {
    color: white;
    font-size: 32px;
    margin-top: 0;
    @include lg {
        font-size: 40px;
    }
}

.connect-div-info {
    color: white;
    margin: 0;
    &-strong {
        @extend .connect-div-info;
        font-weight: 600;
        margin-bottom: 8px;
    }
}

.connect-button-link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
