@use "../../../../globals.scss" as *;
@use "../../../../screens.scss" as *;

.slide-container-1 {  // domipi
    position: relative;
    border-radius: 32px;
    width: 100%;
    max-height: max-content;
    overflow: visible;

    .slide-outer {
        display: flex;
        position: relative;
        padding: 24px;
        flex-direction: row;
        -webkit-box-pack: justify;
        justify-content: space-between;
        max-height: 192px;
        min-height: 181px;
    
        .slide-inner-1 {
            display: flex;
            z-index: 1;
            width: 100%;
            flex-direction: column;
            -webkit-box-pack: center;
            justify-content: center;
            align-items: flex-start;

            .slide1-1 {
                color:  rgb(235, 140, 0);
                font-weight: 600;
                line-height: 1.1;
                font-size: 20px;
                margin-bottom: 8px;
                -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
                font-size: 24px;

                @include sm {
                    -webkit-text-stroke: unset;
                }
            }
            .slide1-2 {
                width: 160px;
                font-weight: 600;
                line-height: 1.1;
                color: rgb(255, 255, 255);
                text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
                text-transform: uppercase;
                margin-bottom: 8px;
                background: -webkit-linear-gradient(top, rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%) text;
                -webkit-text-stroke: 6px transparent;
                font-size: 20px;
                min-height: 44px;

                @include sm {
                    margin-bottom: 16px;
                    font-size: 40px;
                    min-height: auto;
                    width: auto;
                }
            }

            a {
                text-decoration: none;
                color: var(--color-accent);
                font-weight: 600;
                line-height: 1.5;
                font-size: 16px;
                display: flex;
                -webkit-box-align: center;
                align-items: center;
                width: fit-content;

                button {
                    position: relative;
                    -webkit-box-align: center;
                    align-items: center;
                    border: 0px;
                    border-radius: 16px;
                    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
                    cursor: pointer;
                    display: inline-flex;
                    font-family: inherit;
                    font-size: 16px;
                    font-weight: 600;
                    -webkit-box-pack: center;
                    justify-content: center;
                    letter-spacing: 0.03em;
                    line-height: 1;
                    opacity: 1;
                    outline: 0px;
                    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
                    height: 48px;
                    padding: 0px 24px;
                    background-color: var(--color-accent);
                    color: var(--colors-home2);

                    div {
                        color: var(--colors-home2);
                        font-weight: 600;
                        line-height: 1.5;
                        margin-right: 4px;
                        font-size: 16px;
                    }
                }
            }
        }

        .slide-inner-2 { // animation
            position: absolute;
            min-height: 100%;
            right: 0px;
            bottom: 0px;

        }
    }
}

