@use "../../../screens.scss" as *;
@use "../../../globals.scss" as *;

.lists-inner {
  display: none;
  position: absolute;
  background-color: var(--color-home2);
  border: 1px solid var(--color-bar-border);
  border-radius: 16px;
  width: 280px;

  // start from the bottom of the navSpan
  top: 100%;
  left: 0;

  margin: 0.1rem 0;
  padding: 1rem 0;

  flex-direction: column;
  // gap: 2.5em;

  a {
    text-decoration: none;
    padding-left: 16px;
    padding-right: 16px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-light-purple);
    &:hover {
      background-color: var(--color-tertiary);
    }
  }

  &:hover {
    display: flex;
  }
}

.navbar-wrapper {
  background-color: var(--color-bar-bg);
  border-bottom: 1px solid var(--color-bar-border);

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 56px;

    padding: 0 1rem;
    max-width: 1248px;
    margin: 0 auto;

    padding-right: 8em;

    @include xl {
      padding-right: 0;
    }

    .navbar-logo {
      flex-shrink: 0;
      svg {
        fill: var(--color-black);
      }
      svg:first-child {
        display: block;
      }
      svg:last-child {
        display: none;
      }

      @include md {
        svg:first-child {
          display: none;
        }
        svg:last-child {
          display: block;
        }
      }
    }

    .links {
      display: flex;
      align-items: center;

      nav {
        display: none;

        color: var(--color-light-purple);

        align-items: center;
        gap: 0.5rem;
        margin: 0 2rem;

        @include lg {
          gap: 0.2rem;
          margin: 0 1rem;
        }

        .navSpan {
          display: flex;

          flex-direction: column;
          cursor: pointer;
          position: relative;
          padding: 16px;

          @include lg {
            padding-right: 10px;
            padding-left: 10px;
          }

          &:hover {
            background-color: var(--color-tertiary);
            border: 1px solid var(--color-tertiary);
            border-radius: 8px;
            .lists-inner {
              display: flex;
              left: -10px;
            }
          }
        }

        .navSpan:last-child {
          display: flex;
          align-items: center;
        }

        @include lg {
          display: flex;
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: var(--color-light-purple);

      padding-right: 2rem;

      .coin {
        display: none;
        span {
          color: var(--color-light-purple) !important;
        }
        @include md {
          display: block;
        }
      }

      span {
        &:hover {
          opacity: 0.65;
        }
        
      }

      .binance-button {
        cursor: pointer;
        position: relative;

        img {
          position: absolute;
          border-radius: 50%;
          top: 0;
          left: 0;
          width: 32px;
          height: 32px;

          @include md {
            top: 1px;
          }
        }

        button {
          background-color: var(--color-tertiary);
          fill: var(--color-dark-purple);
          color: var(--color-dark-purple);
      
          svg {
            margin-right: auto;
            margin-left: 1.2rem;
            margin-top: 0.2rem;

            @include md {
              margin-left: 0rem;
            }
          }

          margin-right: 0rem !important ;
        }

        &:hover {
          // background-color: var(--color-tertiary);
          // border: 1px solid var(--color-tertiary);
          // border-radius: 8px;
          
          .lists-inner {
            display: flex;
            left: -80px;
            // top: 40px;
            padding-top: 10px;
            border-top: none;
           
            a {
              // display: inline-flex;
              justify-content: flex-start;

              color: var(--color-dark-purple);
              &:first-child {
                cursor: text;
                border-bottom: 1px solid var(--color-bar-border);
                color: var(--color-light-purple);
              }
              &:nth-child(2) {
                color: var(--color-purple);
              }

              img {
                position: initial;
                height: 24px;
                width: 24px;
                margin-right: 12px;
              }
            }
             &:hover {
                display: flex;
              }
          }
        }
      }

      .small {
        display: block;
        @include md {
          display: none;
        }
      }

      .medium {
        display: none;
        @include md {
          display: block;
        }
        @include xl {
          display: none;
          
        }
      }

      .big {
        display: none;
        @include xl {
          display: block;
        }
      }
    }
  }
}

// .lists-inner {
//   display: none;
//   position: absolute;
//   background-color: var(--color-home2);
//   border: 1px solid var(--color-bar-border);
//   border-radius: 16px;
//   width: 280px;

//   // start from the bottom of the navSpan
//   top: 100%;
//   left: 0;

//   margin: 0.1rem 0;
//   padding: 1rem 0;

//   flex-direction: column;
//   // gap: 2.5em;

//   a {
//     text-decoration: none;
//     padding-left: 16px;
//     padding-right: 16px;
//     height: 48px;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     color: var(--color-light-purple);
//     &:hover {
//       background-color: var(--color-tertiary);
//     }
//   }

//   &:hover {
//     display: flex;
//   }
// }
