@use "../../../screens.scss" as *;
@use "../../../globals.scss" as *;
.navbar-wrapper {
  background-color: var(--color-bar-bg);
  border-bottom: 1px solid var(--color-bar-border);

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 56px;

    padding: 0 1rem;
    max-width: 1248px;
    margin: 0 auto;

    padding-right: 8em;

    @include xl {
      padding-right: 0;
    }

    .navbar-logo {
      flex-shrink: 0;
      svg {
        fill: var(--color-black);
      }
      svg:first-child {
        display: block;
      }
      svg:last-child {
        display: none;
      }

      @include md {
        svg:first-child {
          display: none;
        }
        svg:last-child {
          display: block;
        }
      }
    }

    .links {
      display: flex;
      align-items: center;

      nav {
        display: none;

        color: var(--color-light-purple);

        align-items: center;
        gap: 0.5rem;
        margin: 0 2rem;

        .navSpan {
          display: flex;

          flex-direction: column;
          cursor: pointer;
          position: relative;
          padding: 16px;

          &:hover {
            background-color: var(--color-tertiary);
            border: 1px solid var(--color-tertiary);
            border-radius: 8px;
            .lists-inner {
              display: flex;
            }
          }

          .lists-inner {
            display: none;
            position: absolute;
            background-color: var(--color-home2);
            border: 1px solid var(--color-bar-border);
            border-radius: 16px;
            width: 280px;

            // start from the bottom of the navSpan
            top: 100%;
            left: 0;

            margin: 0.1rem 0;
            padding: 1rem 0;

            flex-direction: column;
            // gap: 2.5em;

            a {
              text-decoration: none;
              padding-left: 16px;
              padding-right: 16px;
              height: 48px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              color: var(--color-light-purple);
              &:hover {
                background-color: var(--color-tertiary);
              }
            }

            &:hover {
              display: flex;
            }
          }
        }

        .navSpan:last-child {
          display: flex;
          align-items: center;
        }

        @include lg {
          display: flex;
        }
      }
    }

    .buttons {
      display: flex;
      align-items: center;
      gap: 1rem;
      color: var(--color-light-purple);

      padding-right: 2rem;

      .coin {
        display: none;
        span {
          color: var(--color-light-purple) !important;
        }
        @include md {
          display: block;
        }
      }

      .binance-button {
        cursor: pointer;

        position: relative;
        img {
          position: absolute;
          border-radius: 50%;
          top: 0;
          left: 0;
          width: 32px;
          height: 32px;

          @include md {
            top: 1px;
          }
        }

        button {
          background-color: var(--color-tertiary);
          fill: var(--color-dark-purple);
          color: var(--color-dark-purple);

          svg {
            margin-right: auto;
            margin-left: 1.2rem;
            margin-top: 0.2rem;

            @include md {
              margin-left: 0rem;
            }
          }

          margin-right: 0rem !important ;
        }
      }

      .small {
        display: block;
        @include md {
          display: none;
        }
      }

      .medium {
        display: none;
        @include md {
          display: block;
        }
        @include xl {
          display: none;
        }
      }

      .big {
        display: none;
        @include xl {
          display: block;
        }
      }
    }
  }
}
