@use "./globals.scss" as *;

* {
  font-family: "Kanit", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  line-height: 1;
  font-size: 16px;

  background-color: var(--color-white);

  @extend %scroll-bar;

  position: relative;
  // overflow-x: hidden; // DONT USE THIS
}

.App {
  position: relative;
}

p {
  line-height: 1.5;
}

.spacer {
  margin-top: 10rem;
}
