// DON'T Add same colors, please before adding new color check if it's already added
// DON'T Add colors that are same with light and dark theme, use local scss variables instead

:root {
  // light colors
  --color-primary: #1fc7d4;
  --color-white: #faf9fa;
  --color-purple: #7645d9;
  --color-dark-purple: #280d5f;
  --color-light-purple: #7a6eaa;
  --color-light-purple-2: #b8add2;
  --color-home2: #fff;
  --color-home2-1: #d7caec;
  --color-gradient: #f4eeff;
  --color-gradient-back1: #e6fdff;
  --color-gradient-back2: #f3efff;
  --color-contrast: #fff;
  --color-bar-bg: #fff;
  --color-tertiary: #eff4f5;
  --color-bar-border: #e7e3eb;
  --color-black: #000;
  --color-gradient-home3-1: #6fb6f1;
  --color-gradient-home3-2: #eaf2f6;
  --color-card: #fff;
  --colors-contrast: #191326;
  --colors-contrast: #fff;
  --color-card-background-home3: rgba(255, 255, 255, 0.6);
  --color-syrup-farm-arrows-purple: #958cb9;
  --color-syrup-farm-border-left: #d7caec;
  --colors-earn-bg: linear-gradient(111deg, #f2ecf2, #e8f2f6);
  --color-settings-bg:#280d5f99;
  --color-switch-bg: #eeeaf4;
  --gradient-header: linear-gradient(111.68deg, #f2ecf2, #e8f2f6);
--color-logo-big: #000;
}
body[data-theme="dark"] {
  // dark colors
  --color-white: #08060b;
  --color-purple: #9a6aff;
  --color-dark-purple: #f4eeff;
  --color-light-purple: #b8add2;
  --color-home2: #09070c;
  --color-home2-1: #201335;
  --color-gradient: #280d5f;
  --color-gradient-back1: #21193a;
  --color-gradient-back2: #191326;
  --color-contrast: #191326;
  --color-bar-bg: #27262c;
  --color-tertiary: #353547;
  --color-bar-border: #383241;
  --color-black: #fff;
  --color-gradient-home3-1: #0b4576;
  --color-gradient-home3-2: #091115;
  --color-card: #383241;
  --color-card-background-home3: rgba(8, 6, 11, 0.6);
  --color-syrup-farm-arrows-purple: #8d84b4;
  --color-syrup-farm-border-left: #262130;
  --colors-earn-bg: linear-gradient(139deg, #313d5c, #3d2a54)
  --color-settings-bg: #f4eeff99;
  --color-switch-bg: #372f47;
  --gradient-header: linear-gradient(166.77deg, #3b4155, #3a3045);
  --color-logo-big: #fff;
}

%scroll-bar {
  &::-webkit-scrollbar {
    background-color: var(--color-white);
    width: 0.6rem;
    border-radius: 0.5rem;

    &-thumb {
      background-color: var(--color-light-purple);
      border-radius: 0.5rem;
    }
  }
}
