@use "../../globals.scss" as *;

.link{

    color: var(--color-primary);
    display: flex;
    gap: 4px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 600;
    align-items: center;
 
    padding: 1rem 0.5rem;
    svg {
        width: 20px;
        height: 20px;
    }
     &:hover{
         text-decoration: underline;
     }
 }